<div class="text-center">

    <h1 class="display-4">Soy Doryan Alexandro Mamani Ticona</h1>

    <h2>Soy un desarrollador full stack especializado en tecnologias .NET y javascript</h2>
    <img id="foto"
         src="~/imagenes/perfil.jpeg" alt="Foto de Doryan" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" />
</div>


<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 secccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Mi objetivo es crear experiencias digitales cautivadoras y funcionales que no solo cumplan
            con los requisitos del cliente, sino que también superen sus expectativas.
            Además de mi experiencia técnica, poseo habilidades sólidas en resolución de problemas,
            pensamiento analítico y capacidad para aprender rápidamente nuevas tecnologías. Siempre
            estoy buscando nuevas formas de mejorar mi conjunto de habilidades y mantenerme al tanto
            de las últimas tendencias y avances en el campo del desarrollo web.

        </p>
    </div>
</div>